html {
  font-size: 16px;
  color: #333;
  background-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo{
  width: 60px !important;
}

/*************************** Login *********************/

.login{
  display: flex;
  justify-content: center;
  align-items: center;

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input{
    width: 200px;
    height: 30px;
    margin: 10px;
  }
  button{
    width: 200px;
    height: 30px;
    border: none;
    background: purple;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  span{
    font-size: 14px;
    font-weight: bold;
    color: brown;
    margin-top: 10px;
  }
}

/*************************** Header *********************/




/*************************** Menu *********************/

.menu{

  .nav-link:hover{
    background-color: #ececec;

  }
}