@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Gowun+Batang:wght@400;700&family=Playwrite+DE+Grund:wght@100..400&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", sans-serif;
}

/* Hace que la App ocupe toda la altura de la pantalla y el footer quede abajo */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El main ocupa todo el espacio disponible entre header/menu y footer */
.App > main {
  flex: 1;
}

html,
body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.title-first-letter {
  font-family: "Lora", sans-serif;
  font-size: 50px;
  color: #111;
  padding: 0 5%;
  margin-bottom: 0%;
}
.title-rest-word {
  font-family: "Lora", sans-serif;
  font-size: 36px;
  color: #111;
}
.youtlink {
  width: 40px;
}

@media (max-width: 768px) {
  .title-first-letter {
    font-size: 30px;
    padding: 0.5rem;
    color: #eee;
  }
  .title-rest-word {
    font-size: 22px;
    color: #eee;
  }
  .btn-edition {
    font-size: 12px;
  }
}

/*************************** Login *********************/

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-div {
    background-color: #ececec;
    padding: 100px;
    border-radius: 5px;
  }

  input {
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
  }
  button {
    width: 200px;
    height: 30px;
    border: none;
    background: #800080;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  button:hover {
    background: #561256;
  }
  span {
    font-size: 14px;
    font-weight: bold;
    color: brown;
    margin-top: 10px;
  }
}

/*************************** Header *********************/
.header-content {
  background-image: url("./assets/fotos/pa7.jpg");
  background-repeat: no-repeat;
  background-position: top;
  width: 1580px;
  height: 150px;
}
@media (max-width: 768px) {
  .header-content {
    width: 100%;
  }
}
/*************************** Menu *********************/

.menu {
  .nav-link:hover {
    background-color: #80008075;
    color: #fff !important;
    border-radius: 8px;
  }

  .search-input {
    border-radius: 8px;
    padding: 4px 8px;
  }

  .nav-link {
    color: #800080 !important;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.2px;
  }
  .nav-link.active {
    border-bottom: 2px solid #800080;
  }
}
/* Estilos para Pantallas Pequeñas (Móviles) */
.menu .nav-link {
  font-size: 0.85rem;
}

/* Restablece el tamaño de fuente a partir de la pantalla mediana (768px) */
@media (min-width: 768px) {
  .menu .nav-link {
    font-size: 1rem; /* Tamaño de fuente normal, puedes usar 1.0rem o 1.1rem */
    padding: 0 3rem;
  }
}

/*************************** Home *********************/
.home {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.carousel-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
}

.carousel {
  width: 100%;
}

.carousel img {
  height: 400px;
  object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* de blanco a negro, o ajustá a tu color */
}

@media (max-width: 768px) {
  .carousel img {
    height: 250px;
  }
}

/*************************** Card *********************/
.cards-container {
  display: flex;
  flex-wrap: wrap; /* permite que bajen a nueva fila */
  justify-content: center; /* o space-around / space-between según quieras */
  gap: 20px;
}

.custom-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 300px;
  flex-shrink: 0; /* evita que se achiquen demasiado */
  text-align: center;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.custom-card:hover {
  /*transform: translateY(-4px);*/
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 3px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 8px 0;
}

.card-description {
  font-size: 0.8rem;
  color: #444;
  margin-bottom: 8px;
  padding: 10px;
}

.card-link {
  display: inline-block;
  color: #800080;
  text-decoration: none;
  font-weight: bold;
}

.card-link:hover {
  text-decoration: underline;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 8px;
}

.card-actions .material-icons {
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease;
}

.card-actions .material-icons:hover {
  color: #800080;
}

.read-more-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.7rem;
  padding-right: 10px;
}

.read-more-btn:hover {
  text-decoration: underline;
}

.read-more-container {
  text-align: right;
}

/*************************** sections *********************/

.subsection {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.subsection-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #800080;
}
.custom-card.inicio .card-image {
  aspect-ratio: 16 / 9;
}
.custom-card.videos .card-image {
  aspect-ratio: 16 / 9;
}
.custom-card.shorts .card-image {
  aspect-ratio: 9 / 16;
  max-width: 150px;
  object-fit: contain;
}
.custom-card.libros {
  width: 250px;
}

.custom-card.shorts {
  width: 200px;
}

.custom-card.libros .card-image {
  width: 200px;
  padding-top: 10px;
  object-fit: contain;
}

.custom-card.inicio.novedades {
  background-color: #f5d0b2;
}
.custom-card.inicio.destacados {
  background-color: #f5d0b2;
}
.custom-card.videos.videos {
  background-color: #eee;
}
.custom-card.videos.recomendados {
  background-color: #eee;
}
.custom-card.shorts.shorts {
  background-color: #ebeae6;
}
.custom-card.libros.propios {
  background-color: #f5d0b2;
}
.custom-card.libros.recomendados {
  background-color: #eee;
}
.custom-card.comunidad {
  width: 320px;
}

/*************************** Footer *********************/
.footer {
  background-color: #ececec;
  height: 150px;
  padding: 10px 20px;
  margin: 15px 0 0 0;
}
.grouped-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.title-first-letter {
  font-size: 30px;
}
.title-rest-word {
  font-size: 22px;
}

.footer-content {
  background-image: url("./assets/fotos/pa7.jpg");
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 150px;
}
.social-icon {
  display: inline-block;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.social-icon a {
  width: 42px;
  height: 42px;
  margin: 5px 10px;
  background: #888;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid #888;
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #f0f0f0;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.secret-btn {
  text-decoration: none;
  color: #eee;
  font-size: 0.8rem;
  cursor: default;
}

/*************************** Responsive *********************/

@media (max-width: 568px) {
  .footer {
    .title-first-letter {
      font-size: 24px;
      color: #111;
    }
    .title-rest-word {
      font-size: 16px;
      color: #111;
    }
  }

  .social-icon {
    width: 20%;
  }
  .social-icon a {
    width: 32px !important;
    height: 32px !important;
  }
}
/*************************** Video subcategories *********************/

.videos-intro {
  max-width: 700px;
  margin: 3rem auto 2rem;
  text-align: center;
}

.videos-intro h2 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-bottom: 0.8rem;
}

.videos-intro p {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.6;
}
.video-path {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 720px;
  margin: 1rem auto 1rem;
}
.video-step {
  width: 80%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 10px;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-align: left;
}
.video-step:hover {
  border-color: #800080;
  background-color: #80008008;
}
.step-index {
  font-size: 1.1rem;
  font-weight: 500;
  color: #800080;
  min-width: 24px;
}
.step-content h3 {
  font-size: 1.05rem;
  margin: 0;
  font-weight: 500;
}

.step-content p {
  font-size: 0.85rem;
  margin-top: 0.3rem;
  color: #555;
  line-height: 1.4;
}
.video-step.active {
  border-color: #800080;
  background-color: #80008012;
}
.steptitle {
  font-size: 1rem;
  font-weight: 600;
}

.video-desktop-layout {
  display: flex;
  gap: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
}

/* mobile */
@media (max-width: 768px) {
  .video-desktop-layout {
    flex-direction: column;
  }

  .video-preview {
    display: none;
  }
}

/* desktop */
@media (min-width: 769px) {
  .video-path {
    flex: 1;
    padding: 20px;
    margin: 10px;
  }
  .video-preview {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 2rem;
  }

  .video-preview .custom-card:first-child {
    align-self: flex-start;
  }
}
